pip==25.3
jsonschema
python-dotenv
langgraph
langchain==0.3.2
langchain-core==0.3.19
langchain-community==0.3.9
langchain-google-genai==1.0.7
google-generativeai==0.7.2
langchain-huggingface
langchain-text-splitters
langchain-classic
faiss-cpu
sentence-transformers
pymongo
redis
redisvl
numpy
flask
