
jsonschema
python-dotenv
langgraph
langchain
langchain-core
langchain-community
langchain-google-genai==2.0.0
google-generativeai==0.7.0
google-ai-generativelanguage==0.6.5
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pymongo
redis
redisvl
numpy
flask
langgraph-checkpoint-redis
